[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
isodate = "*"
google-cloud-storage = "*"
pandas = "*"
sentence-transformers = "*"
langchain = "*"
chromadb = "*"
langchain-community = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.12"
